/*Global*/

*{
    margin:0px;
    padding: 0px;
    font-family: 'Monda', sans-serif;
}

input{
  background-color: #e6e6e6;
  width: 50%;
  padding: 10px;
  border: none;
  margin: 10px 0px 10px 0px;
}

textarea{
   outline: none;
  background-color: #e6e6e6;
  width: 50%;
  padding: 10px 10px 110px 10px;
  border: none;
  resize: none;
  margin: 10px 0px 50px 0px;
}

/*End of Global*/

/*Head*/

.container {
    background: url("../img/backgroundpicture.png") repeat fixed 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron{
    color: white;
    height: 100vh;
}

.navigation {
    position: fixed;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 2px #888888;
}

.navigation-content {
    float: right;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #e7e7e7;
}

.jumbotron-header{
    padding-top: 10%;
    font-size: 5em;
    text-align: center;
}

.jumbotron-subject{
    text-align: center
}

.profile-picture{
  margin: 0 auto;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*End of Head*/

/*Information*/

.info-wrapper-header{
    text-align: center;
    font-size: 5em;
    background-color: white;
}

.info-container-left{
    width: 50%;
    float: left;
    background-color: white;
    text-align: center;
}

.info-container-right{
    width: 50%;
    float: right;
    background-color: white;
    text-align: center;
}

.info-container-bottom{
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 40px;
}

.wrapper-content{
    padding: 0 40px;
}

.skillsLeft{
    font-weight: bold;
    width: 50%;
    float: left;
    background-color: white;
}


.skillsRight{
    font-weight: bold;
    float: left;
    width: 50%;
    background-color: white;
}

.progressbar{
    width: 250px;
    height: 30px;
    margin-bottom: 4%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

progress::-webkit-progress-bar /* chrome (kleuren van bar) */
{
    background-color: lightgrey;
    border-radius: 10px;
}

progress::-webkit-progress-value /* chrome (kleuren van value) */
{
    border-radius: 10px;
    background-color: #d81f1f;
}

progress::-moz-progress-bar
{
    background-color: #d81f1f;
}

/*End of Information*/


/*Contact-form*/

.contact-form{
  margin: 0 auto;
  width:50%;
  text-align: center;;
  background-color: white;
  padding: 50px;
}

.contact-header{
  margin-bottom: 20px;
}

.send {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 40px 10px 40px;
    background-color: #fe2f22;
    border: none;
}

.send:hover {
    color: #000000;
    background-color: #e6e6e6;
}

/*End of Contact-form*/

@media screen and (max-width: 1030px){
    .info-container-left{
        width: 100vw;
    }
    .info-container-right{
        width: 100vw;
        margin: 0;
    }
    .skillsLeft{
        width: 100%;
    }
    .skillsRight{
        width: 100%;
    }
    .contact-form{
      width: 100%;
      padding: 0px;
    }
}
