/*Global*/
* {
  margin:0px;
  padding: 0px;
  font-family: 'Monda', sans-serif;
}

label{
  display: block;
}

input{
  background-color: #e6e6e6;
  width: 50%;
  padding: 10px;
  border: none;
  margin: 10px 0px 10px 0px;
}

textarea{
  outline: none;
  background-color: #e6e6e6;
  width: 50%;
  padding: 10px 10px 110px 10px;
  border: none;
  resize: none;
  margin: 10px 0px 50px 0px;
}

/*End of Global*/

/*Head*/

.container {
    background: url("../img/backgroundpicture.png") repeat fixed 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.jumbotron{
    color: #FFFFFF;
    height: 100vh;
}

.jumbotron-header{
    padding-top: 10%;
    font-size: 5em;
    text-align: center;
}

.jumbotron-subject{
    text-align: center
}

.profile-picture{
  margin: 0 auto;
  margin-top: 50px;
  background-color: #FFFFFF;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.jumbotron-info{
    position: relative;
    padding: 30px 50px 0 0;
    font-size: 1em;
    text-align: right;
}
/*End of Head*/

/*Information*/

.info-wrapper-header{
    text-align: center;
    font-size: 5em;
    background-color: #FFFFFF;
}

.info-container-left{
    width: 50%;
    float: left;
    background-color: #FFFFFF;
    text-align: center;
}

.info-container-right{
    width: 50%;
    float: right;
    background-color: #FFFFFF;
    text-align: center;
}

.info-container-bottom{
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
}

.wrapper-content{
    padding: 0 40px;
}

.skills-left{
    width: 33%;
    float: left;
    background-color: #FFFFFF;
}

.skills-middle{
  float: left;
  width: 33%;
  background-color: #FFFFFF;
}

.skills-right{
    float: left;
    width: 33%;
    background-color: #FFFFFF;
}

.skills-images{
  width: 75%;
  margin-top: -10%;
}

.skills-middle-image{
  width: 30%;
  margin-top: -5%;
}

/*End of Information*/


/*Contact-form*/

.contact-form{
  margin: 0 auto;
  width:50%;
  text-align: center;;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 70px;
}

.contact-header{
  margin-bottom: 20px;
}

.submit-message{
  padding-bottom: 25px;
}

.send {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 40px 10px 40px;
    background-color: #fb563f;
    border: none;
    margin-bottom: 25px;
}

.send:hover {
    color: #000000;
    background-color: #e6e6e6;
}


/*End of Contact-form*/

/*Start Footer*/

.footer{
  height: 250px;
  background-color: #323744;
  color: #ffffff;
}

/*Personal*/
.personal-information{
  padding: 0px 20px;
  background-color: #323744;
}

.contact{
  padding: 10px 20px;
  background-color: #323744;
}

.country{
  padding: 10px 20px;
  background-color: #323744;
}

.personal-holder{
  float: left;
  width: 25%;
  text-decoration: none;
}
/*End of personal*/

/*projects*/

.projects-holder{
  float: left;
  width: 25%;
  text-decoration: none;
}

.projects-information{
  padding: 0px 20px;
  background-color: #323744;
}

.projects{
  padding: 10px 20px;
  background-color: #323744;
}

.developer{
  padding: 10px 20px;
  background-color: #323744;
}

/*End of projects*/



/*social media*/
.img-holder{
  width: 100%;
  background-color: #323744;
}

.social-media-logos{
  width: 35px;
  cursor: pointer;
}

/*End of social media*/

/*End of Footer*/

.scroll-to-top{
  text-align: center;
  display: block;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 40px;
  background-color: #fb563f;
  border: none;
  text-decoration: none;
}

.scroll-to-top:hover {
    color: #000;
    background-color: #ffffff;
}

@media screen and (max-width: 1030px){
    .jumbotron-info{
      padding: 0;
    }

    .info-container-left{
        width: 100vw;
    }
    .info-container-right{
        width: 100vw;
        margin: 0;
    }
    .skillsImages{
      margin-top: -20%;
    }
    .skills-middle-image{
      width: 65%;
      margin-top: -20%;
    }
    .skills-left{
        width: 100%;
    }
    .skills-right{
        width: 100%;
    }
    .contact-form{
      width: 100%;
      padding: 0px;
    }
}
